# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

build/
dist/
log2kafka.log
cmake-linux-debug.sh
debug.sh
gdb-cygwin.txt
gdb-linux.txt
run.sh
sync-from-server.sh
sync-to-server.sh
